.mindset {
    width: 80%;
    margin: 0 auto;
    background-image: ;
    background-image:linear-gradient(to right, rgba(11, 124, 199, 01), 50%, rgba(0, 0, 255, 0)), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.main-content {
    padding: 60px 30px;
    width: 30%;
    margin-left: 60px;
    
}

.main-content h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px
}

.main-content input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
}